<!doctype html>
<html>
  <head>
    <title>Page not found</title>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <link rel="stylesheet"
      href="vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet"
      href="vendor/bootstrap/dist/css/bootstrap-theme.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
      <h1>Page not found<h1>
      </div>
      <h2 class="text-center">
        <a href="/">Go back to initial page</a>
      </h2>
    </div>
  </body>
</html>
